# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
.next
dist
node_modules
coverage

# Environment (contains sensitive data)
.env
.env.local
.env.example
.env.prod

# Files not required for production
.editorconfig
Dockerfile
README.md
.eslintrc.js
nodemon.json
LICENSE